{{define "assignment_page"}}
<h1>Your Assignment</h1>
<p>Game: {{.GameTitle}}</p>
<p>You are buying a gift for:</p>
<h2>{{.RecipientName}} (@{{.RecipientUsername}})</h2>
<p><a href="/games/{{.GameID}}">Back to game</a></p>
{{end}}
