{{define "base"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
</head>
<body>
  <main>
    {{if eq .Page "index_page"}}
      {{template "index_page" .}}
    {{else if eq .Page "signup_page"}}
      {{template "signup_page" .}}
    {{else if eq .Page "login_page"}}
      {{template "login_page" .}}
    {{else if eq .Page "dashboard_page"}}
      {{template "dashboard_page" .}}
    {{else if eq .Page "game_page"}}
      {{template "game_page" .}}
    {{else if eq .Page "admin_dashboard_page"}}
      {{template "admin_dashboard_page" .}}
    {{else if eq .Page "admin_new_game_page"}}
      {{template "admin_new_game_page" .}}
    {{else if eq .Page "admin_game_manage_page"}}
      {{template "admin_game_manage_page" .}}
    {{else if eq .Page "assignment_page"}}
      {{template "assignment_page" .}}
    {{else if eq .Page "album_page"}}
      {{template "album_page" .}}
    {{else if eq .Page "archive_page"}}
      {{template "archive_page" .}}
    {{end}}
  </main>
</body>
</html>
{{end}}
